/target
/vendor/php-build
/vendor/php-embed
/vendor/php-embed-zts
/vendor
**/*.rs.bk
Cargo.lock
*.swp
*.swo
.DS_Store
.idea/
.vscode/
/dev
/examples/wordpress/public
# Benchmark scripts' python cache
benchmarks/scripts/__pycache__/
